@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.woff2') format('woff2'),
        url('../fonts/PTSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/PTSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.page-header {
    position: relative;
    margin: 0 55px;
    background-color: #000;
}

.page-header__inner {
    /*padding: 24px 16px 16px;*/
}
.logo {
    flex-basis: 25%;
    width: 25%;
}
.logo img{
    width: 51px;
    height: 31px;
}

.nav-main {
    flex-basis: 75%;
    width: 75%;
}

.nav-main__list {
    display: block;
    margin: 0;
    padding: 0;
}

.nav-main__item {
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.nav-main__item a {
    display: block;
    padding: 8px 0;
}


/*--------------------------------------*/

.promo {
    color: #fff;
    background-color: #1f2122;
    background-size: cover;
    background-position: center;
}

.promo__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 55px;
    padding: 100px 0;
}

.promo__item {
    flex-basis: 100%;
    width: 100%;
}

.promo__title {
    margin: 0;
    font-family: 'Prata';
    font-weight: normal;
    font-style: normal;
    font-size: 55px;
}

.promo__description {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.trial-lesson {
    flex-basis: 100%;
    width: 100%; 
    border: 1px solid #000;
    background-color: #fff;
}




/*.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {  
    flex-basis: 8.33333%;
    width: 8.33333%; 
}

.col-2 {  
    flex-basis: 16.66666%;
    width: 16.66666%; 
}

.col-3 {  
    flex-basis: 25%;
    width: 25%; 
}

.col-4 {  
    flex-basis: 33.33333%;
    width: 33.33333%; 
}

.col-5 {  
    flex-basis: 41.66666%;
    width: 41.66666%; 
}

.col-6 {  
    flex-basis: 50%;    
    width: 50%;      
}

.col-7 {  
    flex-basis: 58.33333%;
    width: 58.33333%; 
}

.col-8 {  
    flex-basis: 66.66666%;
    width: 66.66666%; 
}

.col-9 {  
    flex-basis: 75%;
    width: 75%;      
}

.col-10 {  
    flex-basis: 83.11111%;
    width: 83.11111%; 
}

.col-11 {  
    flex-basis: 91.66666%;
    width: 91.66666%; 
}

.col-12 {  
    flex-basis: 100%;
    width: 100%;    
}*/


/*----------------------------------------------*/
@media (min-width: 768px) {

    .page-header {
        /*position: fixed;*/
        background-color: transparent;
    }
    .page-header__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    .nav-main {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }
    .nav-main__list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .nav-main__item {
        margin-left: 20px;
    }
    .nav-main__item a {
        color: #202020;
    }

    .promo__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 55px;
        padding: 100px 0;
    }

    .promo__item {
        flex-basis: 75%;
        width: 75%;
    }

    /*.promo__title {
        margin: 0;
        font-family: 'Prata';
        font-weight: normal;
        font-style: normal;
        font-size: 55px;
    }*/

    /*.promo__description {
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        letter-spacing: 0.5px;
    }*/

    .trial-lesson {
        flex-basis: 25%;
        width: 25%; 
        border: 1px solid #000;
        background-color: #fff;
    }