@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.woff2') format('woff2'),
        url('../fonts/PTSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/PTSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {

}
a {
    color: #fff;
    text-decoration: none;
}

.page__header {
    background-color: #000;
}
.page__header-inner {
    padding: 24px 16px 16px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Prata';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    color: #eec643;
}
.main__nav-list {
    display: block;
    margin: 0;
    padding: 0;
}
.main__nav-item{
    list-style: none;
    font-family: 'PT Sans';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.main__nav-item a {
    display: block;
    padding: 8px 0;
}


/*--------------------------------------*/



.promo {
    background-image: url();
}
.promo__inner {
    display: flex;
}






.col {
    flex
 /* float: left;*/
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px solid #000; */
}

.col-1 {  width: 8.33%; }
.col-2 {  width: 16.66%; }
.col-3 {  width: 25%; }
.col-4 {  width: 33.33%; }
.col-5 {  width: 41.66%; }
.col-6 {  width: 50%;      }
.col-7 {  width: 58.33%; }
.col-8 {  width: 66.66%; }
.col-9 {  width: 75%;      }
.col-10 {  width: 83.11%; }
.col-11 {  width: 91.66%; }
.col-12 {  width: 100%;    }


/*----------------------------------------------*/
@media (min-width: 768px) {

    .page__header {
        /*position: fixed;*/
        background-color: transparent;
    }
    .page__header-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .main__nav {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }
    .main__nav-list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .main__nav-item {
        margin-left: 20px;
    }
    .main__nav-item a {
        color: #202020;
    }

  